@model int

@if (Model > 0)
{
    <!-- you can also show the raw count if you like -->
    <span class="message-badge-dot"></span>
}

<style>
    .message-badge-dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #5BBB7B; /* green */
        border-radius: 50%;
        position: relative;
        top: -12px;
        right: 10px;
    }
</style>