@{
    Layout = null;
    ViewData["Title"] = "Email Sent";
}
<link rel="stylesheet" href="/template_assets/css/bootstrap.min.css">

<div class="alert alert-success">
    Hang tight! If that email is registered, we’ll send you a password‑reset link shortly.
</div>
