@{
    Layout = null;
    var msg = ViewBag.Message as string ?? "Done.";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>Newsletter</h1>
            <p class="lead">@msg</p>
        </div>
    </div>
</div>